/*@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";*/

.log{
    background-color: aliceblue;
    margin: 91px 261px 0px 484px;
border : 0px;
padding : 60px 40px;
}
.form-group{
	color: blue;
}
.btn-block:hover {
background-color: black;
}

.bg-image {
  /* The image used */
background-image:url('bg.jpg');

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(5px);

  /* Full height */
  height: 100%; 


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row{
	/*background-color: rgb(0,0,0); /* Fallback color */
 /* background-color: rgba(0,0,0, 0.4);*/ /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
body{


}
.log{
	    background-color: transparent;

}
.log h1{
	font-size: 100px;
	font-weight: bold;
	border-bottom: 6px black;
	margin-bottom: 60px;
	font-family: Verdana;
	    color: #5a6c9f;
}
.form-group{
	width: 100%;
	overflow: hidden;
	font-size: 50px;
	padding: 8px 0px;
	margin: 8px 0px;
	border-bottom: 1px black;

}

.